<form id="entry-form" action="/entries" method="post">
  <label for="title">Blog title:</label>
    <input type="text" name="entry[title]">
  <label for="body">Blog text:</label>
    <input type="text" name="entry[body]">
  <!-- <input type="submit" value="Submit your new blog entry!"> -->
  <button class="blue lighten-4 btn waves-effect waves-light" type="submit" name="action">Submit</button>
</form>